body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #6a65f6 0%, #9d85fd 100%);
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 12px;
    margin: 6px;
    border: none;
    border-radius: 10px;
    width: 250px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background: #a21508;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff3d3d;
}

#listaUsuarios {
    width: 300px;
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

#listaUsuarios li {
    background: #ffffffcc;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
}

#listaUsuarios li button {
    background-color: #ff3d3d;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    color: white;
}
